:root {
  --backdground: #3a0c3f;
  --Heading: #cae0e8;
  --text: #c0c0c0;
  --row: rgb(41, 41, 41);
  --column: rgb(37, 37, 37);
  --highlight: rgb(10, 179, 179);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: var(--backdground);
}

.content-name {
  width: fit-content;
  font-size: 24px;
  font-weight: 500 !important;
  color: var(--Heading);
  margin-left: 20px;
  padding-right: 4vh;
}

.top-search{
  font-size: 14;
  font-weight: 500;
  margin-left: 6%;
}
input[type="text"]{
  height: 32px;
  padding: 5px;
  width: 160px;
  
}
input::-webkit-input-placeholder {
font-size: 13px;
font-weight: 500;
color: rgb(163, 163, 163);
}
.content label {
  padding-right: 1.5vh;
  padding-left: 1.5vh;
  width: auto;
  font-weight: 300;
}
.line {
  border-bottom: 0.5px solid var(--Heading);
  padding-top: 3px;
  margin-left: 8px;
  width: 98%;
}
.table-toggle {
  display: flex;
  justify-content: space-between;
}
.toggle {
  width: 4%;
  background-color: #381f3b;
  display: flex;
  align-items: start;
  justify-content: center;
}
.toggle:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.fa-arrow-right {
  color: white;
  font-size: 22px;
  padding-top: 16px;
  opacity: 0.5;
}
.toggle.active .fa-arrow-right {
  transform: rotate(180deg) translateY(-30%);
  font-size: 22px;
  padding-top: 20px;
}
tr:nth-child(even) {
  background-color: #381f3b;
  font-size: 14px;
  color: white;
}
tr:nth-child(odd) {
  background-color: #27082a;
  font-size: 14px;
  color: white;
}
.content-name {
  width: 100%;
}
.mid-content {
  width: 100%;
}
.fa-unlock-alt {
  color: #244225;
  font-size: 18px;
}
.fa-eye {
  color: #288b93;
  font-size: 18px;
}
.container {
  padding: 16px;
  background: #27082a;
  margin: 0;
  max-width: 100% !important;
}
.sidebar-outer {
  display: flex;
  justify-content: space-between;
  min-width: 16%;
  position: relative;
  min-height: 100%;
}
.sidebar {
  padding-top: 0.8vh;
  background-color: rgb(58 12 63);
  width: 90%;
}
.divider {
  width: 20px;
  background-color: #3a0c3f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 500ms ease;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  top: 0px;
}
.main {
  background-color: rgb(58, 12, 63);
  height: 85%;
  display: flex;
  min-width: 100%;
}
.main-content {
  background-color: rgb(58, 12, 63);
  margin-bottom: 10px;
  min-width: 85%;
}
.main-content-topbar {
  background-color: var(--topbackdground);
  margin-top: 1.5vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 8px;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 10px;
}
.controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.mid-content {
  width: 100%;
  margin-left: -240px;
  margin-top: -11px;
  
  color: white;
}

.butn {
  margin-top: -10px;
  padding: 5px 5px;
  border: none;
  outline: 0;
  margin-right: 5px;
  font-size: 13px;
  width: 24%;
  color: white;
}
#download {
  background: #10827d;
  border-right: 3px solid #0a5551;
  border-bottom: 3px solid #0a5551;
}
#download:hover {
  background: #19bfb6;
}
#member {
  background: #8e1e98;
  border-right: 3px solid #66166d;
  border-bottom: 3px solid #66166d;
}
#member:hover {
  background: #e14eee;
}
.upper-line{
  color: #ffffff;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 700;
  margin-top: 20px;
  }
.toggle {
  width: 4%;
  background-color: #381f3b;
  display: flex;
  align-items: start;
  justify-content: center;
}

.table-toggle {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-left: 0px;
  text-align: left;
}
.display {
  font-size: 13px;
  color: rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  overflow: auto;
  height: 300px;
  position: relative;
  scrollbar-color: #cae0e8 #37133f;
  scrollbar-width: thin;
  padding-top: 3vh;
  width: 95%;
}
.highlight{
  color: #19bfb6;
}
/* CUSTOM SCROLLBAR STYLES */
.display::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
  height: 16px;
}
.display::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.display::-webkit-scrollbar-button {
  display: none;
}
.display::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
.display::-webkit-scrollbar-thumb {
  background-color: #dce3e8;
  border-radius: 16px;
  border: 5px solid #37133f;
  height: 10px;
}
.display::-webkit-scrollbar:vertical {
  height: 20px;
}
.display::-webkit-scrollbar-thumb:hover {
  background: white;
  border: 5px solid rgb(70, 1, 75);
  cursor: pointer;
}

/* TABLE STYLES */
table {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  table-layout: fixed;
  border-collapse: separate;
}
table > thead > tr > th {
  width: 100px;
}
tr {
  transition: 300ms all ease;
}
td,
th {
  height: 55px;
  text-align: center;
  font-weight: 600;
}
tr:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.table-head{
  font-weight: 600;
}
